﻿.media-img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 20px;
    margin: 0 10px 10px 10px;
}

.media-img-wrapper {
    max-width: 200px;
    max-height: 200px;
    text-align: center;
}

.original-price {
    text-decoration: line-through;
}

@media (max-width: 1023.98px) {
    .media {
        flex-direction: column;
    }

    .media-img {
        max-width: 300px;
    }

    .media-img-wrapper {
        width: 100%;
        height: auto;
    }
}
