@page "/register"
@inject IUserService UserService
@inject HttpClient Http
@inject IToastService ToastService
@inject NavigationManager NavigationManager

<h3>Register</h3><br />

<EditForm Model="user" OnSubmit="HandleRegister">
        <div class="form-group">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <label for="Name">Name</label><br />
        <InputText id="Name" @bind-Value="user.Name" required class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div><br />
        <div class="form-group">
        <label for="Surname">Surname</label><br />
        <InputText id="Surname" @bind-Value="user.Surname" required class="form-control" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div><br />
            <div class="form-group">
        <label for="StreetAddress">Street Address</label><br />
        <InputText id="StreetAddress" @bind-Value="user.StreetAddress" required class="form-control" />
    </div><br />

            <div class="form-group">
        <label for="Suburb">Suburb</label><br />
        <InputText id="Suburb" @bind-Value="user.Suburb" class="form-control" />
    </div><br />
    <div class="form-group">
        <label for="Email">Email</label><br />
        <InputText id="Email" @bind-Value="user.Email" type = "email" required class="form-control" />
    </div><br />
    <div class="form-group">
        <label for="password">Password</label><br />
        <InputText id="password" @bind-Value="user.Password" type="password" required class="form-control" />
    </div><br />
        <div class="form-group">
        <label for="confirmpassword">Confirm Password</label><br />
        <InputText id="confirmpassword" @bind-Value="user.ConfirmPassword" type="password" required class="form-control" />
    </div><br />
    <button type="submit" class="btn btn-primary">Register</button>
</EditForm>

@code {
    private UserRegisterRequest user = new UserRegisterRequest();

    private async void HandleRegister()
    {
        if (user.ConfirmPassword == user.Password)
         {
            var result = await UserService.AddUserAsync(user);

            if (result == "User successfully created")
            {
            
            ToastService.ShowSuccess("Welcome New User", "Successful Register");

              NavigationManager.NavigateTo("/login");
            

            }else if(result == "User already exists")
            {

                ToastService.ShowError("User already exists", "Registration failed");

            }
            else if (result != "User successfully created")
            {

                 ToastService.ShowError("User already exists", "Registration failed");
            }
        }
        else { 
        
         ToastService.ShowError("Password do not match", "Registration failed");

        }

    }
}
