@page "/register"
@inject IUserService UserService
@inject HttpClient Http
@inject IToastService ToastService

<h3>Register</h3><br />

<EditForm Model="user" OnSubmit="HandleRegister">
    <div class="form-group">
        <label for="Email">Email</label><br />
        <InputText id="Email" @bind-Value="user.Email" type = "email" required class="form-control" />
    </div><br />
    <div class="form-group">
        <label for="password">Password</label><br />
        <InputText id="password" @bind-Value="user.Password" type="password" required class="form-control" />
    </div><br />
        <div class="form-group">
        <label for="confirmpassword">Confirm Password</label><br />
        <InputText id="confirmpassword" @bind-Value="user.ConfirmPassword" type="password" required class="form-control" />
    </div><br />
    <button type="submit" class="btn btn-primary">Register</button>
</EditForm>

@code {
    private UserRegisterRequest user = new UserRegisterRequest();

    private async void HandleRegister()
    {
        if (user.ConfirmPassword == user.Password)
        {
            var result = await UserService.AddUserAsync(user);

            if (result == "User already exists")
            {

                ToastService.ShowError("User already exists", "Registration failed");

            }
            else
            {

                ToastService.ShowSuccess("Welcome New User", "Successful Register");
            }
        }
        else { 
        
         ToastService.ShowError("Password do not match", "Registration failed");

        }

    }
}
