@page "/verify"
@inject IUserService UserService
@inject HttpClient Http
@inject IToastService ToastService

<h3>Verify Account</h3><br />

<EditForm Model="verify" OnSubmit="Verification">
    <div class="form-group">
        <label for="Token">Token</label><br />
        <InputText id="Token" @bind-Value="verify.Token" required class="form-control" />
    </div><br />

    <button type="submit" class="btn btn-primary">Verify Account</button>
</EditForm>

@code {
    private VerifyModel verify = new VerifyModel();

    private async void Verification()
    {
        var result = await UserService.VerifyAsync(verify);

        if (result == "User Verified")
        {

            ToastService.ShowSuccess("User Verified", "Successful Verfication");
        }
        else { 
        
        ToastService.ShowError(result, "Verification failed");
        
        
        }



    }
}
