@inherits LayoutComponentBase
@inject ICategoryService CategoryService
@inject ISyncLocalStorageService Localstorage
@inject AuthenticationStateProvider AuthStateProvider


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">

                  
                   <TopMenu></TopMenu>
              
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
<BlazoredToasts />

@code{
    UserRegisterRequest details = new UserRegisterRequest();

 
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (Localstorage.GetItem<UserRegisterRequest>("userinfo") != null)
            setuser();
    }

    private void setuser() {

        var user = Localstorage.GetItem<UserRegisterRequest>("userinfo");

        details.Email = user.Email;
    }

   

}