@inherits LayoutComponentBase
@inject ICategoryService CategoryService
@inject ISyncLocalStorageService Localstorage
@inject AuthenticationStateProvider AuthStateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
        
    
                 <AuthorizeView>
                       <Authorized>
                   <a href="" target="_blank">Hello @details.Email </a>
                </Authorized>
                   </AuthorizeView>
                       </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code{
    UserRegisterRequest details = new UserRegisterRequest();

    protected override async Task OnInitializedAsync()
    {
       setuser();
    }

    private async void  setuser() {

        var user = Localstorage.GetItem<UserRegisterRequest>("userinfo");
        details.Email = user.Email;
    }

}