@inject ICategoryService CategoryService
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager
@inject IToastService ToastService


<div class="top-row ps-3 navbar navbar-dark" style="background-color:grey">
    <div class="container-fluid">
        <a class="navbar-brand" href="">SaiberSpace</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" style="background-color:black">
    <nav class="flex-column" style="background-color:black">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <li class="dropdown-divider"></li>
        @foreach (var category in CategoryService.Categories)
       {
                  <div class="nav-item px-3">
            <NavLink class="nav-link" href="@category.Url">
             @category.Name
            </NavLink>
        </div>
       }
 
        <li class="dropdown-divider"></li>
       
            <div class="nav-item px-3">
            <AuthorizeView>
                <NotAuthorized>
                    <NavLink class="nav-link" href="login">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Login
                    </NavLink>
                </NotAuthorized>
                <Authorized>
                    <a class="nav-link" @onclick="logout" style="cursor: pointer">
                        <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                    </a>

            <NavLink class="nav-link" href="orderhistory" >
            <span class="oi oi-calendar" aria-hidden="true"></span> Orders
            </NavLink>
             <NavLink class="nav-link" href="account" >
            <span class="oi oi-key" aria-hidden="true"></span>Account
            </NavLink>
                </Authorized>
            </AuthorizeView>
        </div>

             <div class="nav-item px-3">
                 <AuthorizeView>
                 <NotAuthorized> 
            <NavLink class="nav-link" href="register">
                 <span class="oi oi-people" aria-hidden="true"> </span> Register
            </NavLink>

             </NotAuthorized>
             </AuthorizeView>
        </div>

                     <div class="nav-item px-3">
               <AuthorizeView>
              <NotAuthorized>
            <NavLink class="nav-link" href="verify">
                 <span class="oi oi-check" aria-hidden="true"> </span> Verify
            </NavLink>
             </NotAuthorized>
               </AuthorizeView>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        await CategoryService.GetCategories();

       

    }


    private async void logout()
    {

        await LocalStorage.RemoveItemAsync("userinfo");
        await LocalStorage.RemoveItemAsync("cart");

        await AuthStateProvider.GetAuthenticationStateAsync();

         NavigationManager.NavigateTo("");

        ToastService.ShowSuccess("Goodbye User", "Successful Logout");
}

}
